<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Music</title>
</head>
<body>
    <h1>Add New Music</h1>
    <div class="section">
        <form enctype=multipart/form-data method=post action="">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"> </br></br>

            <label for="duration">Duration:</label>
            <input type="text" id="duration" name="duration"></br></br>

            <label for="artist">Artist:</label>
            <input type="text" id="artist" name="artist"></br></br>

            <label for="genre_id">Genre_id:</label>
            <input type="text" id="genre_id" name="genre_id"></br></br>

            <label for="file">Music File:</label>
            <input type="file" id="musicFile" name="file" accept=".mp3, .mp4, .wav, .m4a"/><br><br>

            <label for="picture">Select Picture:</label>
            <input type="file" id="picture" name="picture" accept="image/*" required><br><br>
            <input type=submit value=Upload>
            
        </form>
    </div>
</body>
</html>
