<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
</head>
<body>
    <div class='bar'>
        <a href={{url_for('home') }}>Home</a>
    </div>
    <div class="container">
        <div class="login_error">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <small>{{ message }}</small>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        <h2>Sign In</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="input-group">
                        {{ form.password(class="form-control form-control-lg", id="password-field") }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="toggle-password">Show</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <small>Forgot Password? <a href="{{ url_for('reset_request') }}">Reset Password</a></small>
            <div class="social">
                <div class="go"><i class="fab fa-google"></i>  <a href="{{ url_for('googleLogin') }}">Google</a></div>
                <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
            </div>
            <small>
                Don't Have An Account? <a href="{{ url_for('register')  }}">Register Now!</a>
            </small>
    </div>
    <script>
        document.getElementById('toggle-password').addEventListener('click', function() {
            var passwordField = document.getElementById('password-field');
            var toggleButton = document.getElementById('toggle-password');
    
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleButton.textContent = 'Hide';
            } else {
                passwordField.type = 'password';
                toggleButton.textContent = 'Show';
            }
        });
    </script>
</body>
</html>
