{% extends "user_page.html" %}

{% block content %}
    <section class="display_content">
		<h3><b>CATEGORY</h3>
		<nav class="category">
			<ul>
				{% for category in categories %}
					<li>
						<a href="{{ url_for('categories', category_id=category.id) }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</section>

	 <section class="display_content">
        <h3><b>REGION</h3>
        <nav class="category">
            <ul>
              {% for region in regions %}
                {% if request.endpoint == 'user_radio' %}
                  <li>
                    <a href="{{ url_for('region', region_id=region.id) }}">{{ region.name }}</a>
                  </li>
                {% else %}
                  <li>    
                    <a href="{{ url_for('region', region_id=region.id) }}">{{ region.name }}</a>
                    
                  </li>
                {% endif %}
				      {% endfor %}
            </ul>
        </nav>
    </section>
	
	 <section class="display_content">
        <h3><b>COUNTRY</h3>
        <nav class="category">
            <ul>
                {% for country in countries %}
                  {% if request.endpoint == 'user_radio' %}
                    <li>
                      <a href="{{ url_for('country', country_id=country.id) }}">{{ country.name }}</a>
                    </li>
                  {% else %}
                    <li>
                      <a href="{{ url_for('country', country_id=country.id) }}">{{ country.name }}</a>
                        
                    </li>
                  {% endif %}
				        {% endfor %}
            </ul>
        </nav>
    </section>
{% endblock content %}

