<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clone.css') }}"/>
</head>
<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff;">
    <script>
        // Handle navbar hide/show on scroll
        var pos1 = window.pageYOffset;
        window.onscroll = function() {
          var pos2 = window.pageYOffset;
          if (pos1 > pos2) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-50px";
          }
          pos1 = pos2;
        }
    </script>
        <!-- Spotify Logo -->
			<!-- Welcome User -->
	<nav id="navbar">
		<ul id="nav-list">
			<li>
        <a href={{ url_for('music') }}>Music</a>
			</li>
			<li>
                <a href="">Podcast</a>
            </li>
			<li>
                <a href="">Radio</a>
            </li>
            {% if current_user.is_authenticated %}
					<li class="signs">
						<a href={{ url_for('logout') }}>Logout</a>
						<a href="#">Account</a>
            		</li>
					{% elif session %}
						<li class="signs">
							<a href={{ url_for('logout_google') }}>Logout</a>
							<a href="#">Account</a>
						</li>
				{% else %}
					<li class="signs">
						<!--<button type="submit">Sign-in</button>-->
						<a href={{ url_for('login') }}>Sign-in</a>
					</li>
					<li class="signs">
						<!--<button type="submit">Sign-up as Artist</button>-->
						<a href={{ url_for('register') }}>Sign-up</a>
						
					</li>
				{% endif %}
		</ul>
	</nav>

	<!-- The main graphic section -->
	<section id="graphic_sec">
		<h1>Yimbo</h1>
		<p><i>connecting Africa through Rhythms</i></p>
	</section>
	
	<!-- display content section -->
	<section id="display_content" class="display_content">
		<h2>Trending Artists</h2>
		<div class="browse_all">
			
			<!-- Artist Section -->
			<div class="artist-card">
        		<img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
				<div class="artist-info">
            		<div class="artist-name">Rema</div>
                	<div class="artist-title">Artist</div>
            	</div>
			</div>

			<div class="artist-card">
                <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
                <div class="artist-info">
                    <div class="artist-name">Rema</div>
                    <div class="artist-title">Artist</div>
                </div>
            </div>

			<div class="artist-card">
                <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
                <div class="artist-info">
                    <div class="artist-name">Rema</div>
                    <div class="artist-title">Artist</div>
                </div>
            </div>

			<div class="artist-card">
                <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
                <div class="artist-info">
                    <div class="artist-name">Rema</div>
                    <div class="artist-title">Artist</div>
                </div>
            </div>
			
			<div class="artist-card">
                <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
                <div class="artist-info">
                    <div class="artist-name">Rema</div>
                    <div class="artist-title">Artist</div>
                </div>
            </div>
        </div>
		
		<!--Trending Musics -->
		<div class="browse-all">
        	<!-- Category Card -->
<!--			<h3 style="display:inlin-block; font:san-serif;">Trending musics</h3> -->
        	<div class="category-card">
            	<img src="https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa" alt="Podcasts">
                <div class="category-title">Podcasts</div>
            </div>

            <div class="category-card">
              <img src="https://i.scdn.co/image/ab67fb8200005cafa6152f62518b4c3251858b21" alt="Podcasts">
              <div class="category-title">Audiobooks</div>
            </div>

            <div class="category-card">
              <img src="https://concerts.spotifycdn.com/images/live-events_category-image.jpg" alt="Podcasts">
              <div class="category-title">Live Events</div>
            </div>

            <div class="category-card">
              <img src="https://t.scdn.co/images/ea364e99656e46a096ea1df50f581efe" alt="Podcasts">
              <div class="category-title">Made For You</div>
            </div>

			<div class="category-card">
                <img src="https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa" alt="Podcasts">
                <div class="category-title">Podcasts</div>
            </div>


		</div>
		
		
		<div class="browse-all">
            <!-- Category Card -->
            <div class="category-card">
                <img src="https://i.scdn.co/image/ab67fb8200008e2cea38d17f2e1a1630287f4328" alt="Podcasts">
                <div class="category-title">2023 in podcasts</div>
            </div>

            <div class="category-card">
              <img src="https://i.scdn.co/image/ab6761700000c52c87ab6b4a0c51593853fe2157" alt="Podcasts">
              <div class="category-title">Merch</div>
            </div>

            <div class="category-card">
              <img src="https://i.scdn.co/image/ab67fb8200008e2c64adf130003faa51378e3d2b" alt="Podcasts">
              <div class="category-title">Happy Christmas</div>
            </div>

			 <div class="category-card">
              <img src="https://i.scdn.co/image/9af79fd06e34dea3cd27c4e1cd6ec7343ce20af4" alt="Podcasts">
              <div class="category-title">Video Podcasts</div>
            </div>

			<div class="category-card">
                <img src="https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa" alt="Podcasts">
                <div class="category-title">Podcasts</div>
            </div>


            <!-- Repeat for each category -->
            <!-- ... other categories ... -->
        </div>


		<div class="browse-all">
            <!-- Category Card -->
            <div class="category-card">
                <img src="https://t.scdn.co/images/7262179db37c498480ef06bfacb60310.jpeg" alt="Podcasts">
                <div class="category-title">Podcast Charts</div>
            </div>

            <div class="category-card">
              <img src="https://t.scdn.co/images/209c867f5bb34076b0dcc9deeb1868e6" alt="Podcasts">
              <div class="category-title">Podcast New Releases</div>
            </div>

            <div class="category-card">
              <img src="https://i.scdn.co/image/9af79fd06e34dea3cd27c4e1cd6ec7343ce20af4" alt="Podcasts">
              <div class="category-title">Video Podcasts</div>
            </div>

			<div class="category-card">
				<img src="https://i.scdn.co/image/9af79fd06e34dea3cd27c4e1cd6ec7343ce20af4" alt="Podcasts">
				<div class="category-title">Video Podcasts</div>
			</div>

			<div class="category-card">
                <img src="https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa" alt="Podcasts">
                <div class="category-title">Podcasts</div>
            </div>


		</div>
		
		
	</section>

	<section id="contact" class="contact">
		<div id="contact-header">
			<h2>Let's work together</h2>
			<p id="contact-p"><i>How do you take your coffee</i></p>
		</div>
		<div id="contact-links">
			<a href="" id="profile-link" target="blank">Githubi</a>
		</div>
	</section>

</body>
</html>
