body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 430px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    line-height: 35px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.login_error {
    color: red;

}
span {
    color:  red;
    font-size: 12px;
    font-weight: bold;
    
}


.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(0, 140, 255, 0.904);
  color: whitesmoke;
  text-align: center;
}
.social div:hover{
  background-color:  #c49d8a;
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: auto;
}
