{% extends "test.html" %}

{% block content %}
        <section id="trending" class="display_content">
            <div class="category-card">
                <img src="/static/pics/7_checkPoint.png" alt="Podcasts">
                <div class="category-title">Podcasts</div>
            </div>

            <div class="category-card">
            <img src="https://i.scdn.co/image/ab67fb8200005cafa6152f62518b4c3251858b21" alt="Podcasts">
            <div class="category-title">Audiobooks</div>
            </div>

            <div class="category-card">
            <img src="https://concerts.spotifycdn.com/images/live-events_category-image.jpg" alt="Podcasts">
            <div class="category-title">Live Events</div>
            </div>

            <div class="category-card">
            <img src="https://t.scdn.co/images/ea364e99656e46a096ea1df50f581efe" alt="Podcasts">
            <div class="category-title">Made For You</div>
            </div>

            <div class="category-card">
                <img src="https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa" alt="Podcasts">
                <div class="category-title">Podcasts</div>
            </div>
    </section>
{% endblock content %}