<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yimbo connecting Africa through rhythm</title>
    <link rel="stylesheet" href="landing.css">
    <style>
        /* Additional CSS for the search box */
        #search-box {
            text-align: center;
            margin-top: 200px; /* Adjust as needed */
        }
        #search-box input[type="text"] {
            padding: 10px;
            width: 300px; /* Adjust as needed */
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        #search-box button {
            padding: 10px 20px;
            background-color:  #ccc;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav id="navbar">
        <ul id="nav-list">
            <li><a href="">Music</a></li>
            <li><a href="">Podcast</a></li>
            <li><a href="">Radio</a></li>
            <li class="signs"><button type="submit">Sign-in</button></li>
            <li class="signs"><button type="submit">Sign-up as Artist</button></li>
        </ul>
    </nav>
    <section id="welcome-section" class="welcome-section">
        <h1>Yimbo</h1>
        <p><i>connecting Africa through Rhythms</i></p>
        <!-- Search Box -->
        <div id="search-box">
            <input class="searchInput" type="text" placeholder="Search..." />
            <button class="searchInput" type="submit">Search</button>
        </div>
		
        <!-- End of Search Box -->
        <li></li>
    </section>

	<section id="trending" class="display_content">
        <!-- Artist section -->
        <h3>Trendin Artists </h3>
        <div class="artist-card">
            <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
            <div class="artist-info">
                <div class="artist-name">Rema</div>
                <div class="artist-title">Artist</div>
            </div>
        </div>

        <div class="artist-card">
            <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
            <div class="artist-info">
                <div class="artist-name">Rema</div>
                <div class="artist-title">Artist</div>
            </div>
        </div>

        <div class="artist-card">
            <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
            <div class="artist-info">
                <div class="artist-name">Rema</div>
                <div class="artist-title">Artist</div>
            </div>
        </div>

        <div class="artist-card">
            <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
            <div class="artist-info">
                <div class="artist-name">Rema</div>
                <div class="artist-title">Artist</div>
            </div>
        </div>
        
        <div class="artist-card">
            <img src="https://i.scdn.co/image/ab676161000051747952358e33599027ae3c7f37" alt="Rema" style="width:150px; height:150px; border-radius:50%;">
            <div class="artist-info">
                <div class="artist-name">Rema</div>
                <div class="artist-title">Artist</div>
            </div>
        </div>
    </div>

    <h3>Trending Podcasts</h3>
        <!-- display six podcastcast in one line -->
        {{ counter = 0 }}, {{ sec_counter = 0 }}
        {% for key, value in pod_region.items() %}
            <div class="category-card">
                <img src="{{ url_for('static', filename='pics/' + key) }}" alt="Podcasts">
                <div class="category-title">{{ value['item_name'] }}</div>
            </div>
            {{ counter += 1}}
            {% if counter == 3 %}
                {% for pic, val in pod_country.items() %}
                    <div class="category-card">
                        <img src="{{ url_for('static', filename='pics/' + pic) }}" alt="Podcasts">
                        <div class="category-title">{{ val['item_name'] }}</div>
                    </div>
                    {{ sec_counter += 1}}
                    {{ if sec_counter == 3}}
                        break
                    {{ endif }}
                {{ endfor }}
                break
            {% endif %}
        {% endfor %}
        
        <h3>Trending Radio Channels</h3>
        <!-- display six radio channels in one line -->
        {{ counter = 0 }}, {{ sec_counter = 0 }}
        {% for key, value in ra_region.items() %}
            <div class="category-card">
                <img src="{{ url_for('static', filename='pics/' + key) }}" alt="Podcasts">
                <div class="category-title">{{ value['item_name'] }}</div>
            </div>
            {{ counter += 1}}
            {% if counter == 3 %}
                {% for pic, val in ra_country.items() %}
                    <div class="category-card">
                        <img src="{{ url_for('static', filename='pics/' + pic) }}" alt="Podcasts">
                        <div class="category-title">{{ val['item_name'] }}</div>
                    </div>
                    {{ sec_counter += 1}}
                    {{ if sec_counter == 3}}
                        break
                    {{ endif }}
                {{ endfor }}
                break
            {% endif %}
        {% endfor %}

    </section>
	<section id="contact" class="contact">
		<div id="contact-header">
			<h2>Let's work together</h2>
			<p id="contact-p"><i>How do you take your coffee</i></p>
        </div>
		<div id="contact-links">
		    <a href="" id="profile-link" target="blank">Githubi</a>
		</div>
	</section>

	</body>
</html>


